<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/js/UI/components/navbar/navbar.css">
    <link rel="stylesheet" href="/js/UI/components/button/buttonCss.css"/>
    <link rel="stylesheet" href="/js/UI/table/table.css"/>

</head>
<body>

    <div id="Content">
        
    </div>

    <script src="https://livejs.com/live.js"></script>

    <script type="module" src="/js/UI/app.js?v=@DateTime.Now.Ticks"></script>


</body>
</html>
