<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>

    <div id="Content">
        
    </div>

    <script type="module" src="/js/UI/pages/user/user.js"></script>
</body>
</html>
