<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealERP.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/UI/components//navbar/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200x200-min.png"
                     alt="gfg_logo">
            </a>
        </div>
        <div class="menu">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <div class="nav-menu hide">
            <a href="#" id="userTableRender">User</a>
            <a href="#" id="employeeTableRender">Employee</a>
            <a href="#" id="departmentTableRender">Department</a>
            <a href="#">Contact</a>
        </div>
    </nav>

    @RenderBody()
</body>
</html>
